DISCORD_TOKEN='TOKEN.HERE.29LFAKE1903AS-ABC'

STARTING_MONEY=10

WAGERIN=814626713224478760
WAGERWIN=814625669241241680
WAGERLOSE=814624512187695174

WAGER_HELP_TEXT="Create a new wager with an amount that you are betting and a description.\n\n>>> wager_amount must be a whole number written in numerical digits! e.g. 10 - entering 'ten' will confuse the robots.\n>>> The `!wager` command, the amount, and the text describing your bet must be separated from each other by spaces.\n\nExample:\n!wager 25 that I can hit this shot"
WAGER_FORMAT_TEXT="Sorry, I didn't understand your wager! Correct format for wagers is:\n> !wager **amount** *condition*\nExample:\n> !wager **25** *that I can hit this shot*\n- **amount** must be a whole number written in numerical digits! e.g. 10 - entering 'ten' will confuse the robots.\n- The `!wager` command, the amount, and the text describing your bet must be separated from each other by spaces."
WAGER_BRIEF_TEXT="Create (propose) a new wager"